# This file is 34GB, whicg is far to large for a GitHub repo, and it is just a superhude standard output.
std-srv-10000.txt
# Similar to the one abouve but only 22 MB (still large)
log-SRV-10000-run.txt
